#main-heading{
    top: 5px;
    background-color: wheat;
    padding: 5px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    width: 868px;
}
.Stocks-info {
    position: absolute;
    right: 30px; /* Adjust the distance from the left side of the screen */
    top: 40px; /* Adjust the distance from the top of the screen */
    left: 90%px;
    bottom: 10px;
    width: 300px; /* Adjust width as needed */
    height: 580px;
    background-color: wheat;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.Stocks-info h3 {
    font-size: 14px;
    color: black;
    margin-bottom: 15px;
}

.Stocks-info h2 {
    font-size: 18px;
    color: black;
    margin-bottom: 15px;
}

#Stocks-details {
    margin-top: 15px;
}