#records {
    width: 100%;
    margin-top: 20px;
}
.card {
    background-color: white;
    border: 0.3px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}
.card-title {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.card-text {
    color: #ddd;
}
.btn {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #28a745;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #218838;
    color: #fff;
    cursor: pointer;
}
.banner {
    background-image: linear-gradient(135deg, #006666 0%, #00cccc 100%);
    color: #fff;
    padding: 60px 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.banner h1 {
    margin-bottom: 0;
    font-size: 36px;
    font-family: "Arial", sans-serif;
    animation: fadeInDown 1s ease-in-out;
    background: linear-gradient(100deg, #8B0000, #00008B);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.banner p {
    font-size: 18px;
    margin-top: 20px;
    animation: fadeInUp 1s ease-in-out;
}
.banner .col-md-12 {
    padding: 0 20px;
}
#chart{
    background-color: white;
    border: 0.3px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#graph-link {
    text-decoration: none;
}
.recent-activities {
    background-color: white;
    border: 0.3px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.recent-activities:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}
.recent-activities h4 {
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.recent-activities ul {
    list-style: none;
    padding: 0;
    color: black;
}
.recent-activities ul li {
    margin-bottom: 5px;
    padding: 10px;
    border-bottom: 1px solid #333;
    transition: background-color 0.3s ease;
}
.recent-activities ul li:hover {
    background-color: #10898d;
    color: white;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}